
a {
    color: white;
}
body {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(95,95,105,1) 100%, rgba(0,212,255,1) 100%);
    font-family: 'Josefin Slab', serif;
    height: max-content;
}
button {
    background: rgb(156,14,14);
    background: linear-gradient(180deg, rgba(156,14,14,1) 100%, rgba(95,95,105,1) 100%, rgba(0,212,255,1) 100%);
    color: white;
}
html {

}
li {
    background-color: black !important;
}
span {
    color: #f03535;
    /*color: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(95,95,105,1) 100%, rgba(0,212,255,1) 100%);*/
}


.card {
    color: white;
    background-color: black;
}
.page-footer {
    font-size: 40px;
    background-color: #0e0e0e;
    margin-top: 200px;
    color: white;
}
.footer-copyright {
    background-color: #d5d5d5;
    color: black;
    font-size: 20px;
}

.navbar {
    background-color: transparent;
    margin-bottom: 100px !important;
}

.navbar-brand{
    font-size: 45px;
    font-family: 'Bangers', cursive;
    text-shadow: 2px 2px 5px #f03535;
}

#add-movie-container{
    color: white;
}
#form-container {
    color: white;
}
#main {
    margin-left: 5px;
    margin-right: 5px;
}
#website {
    color: #f03535;
}


/* -------- CSS code for loader animation ----------*/
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #f03535;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

 /*-------------- Button styling --------------*/


.myButton {
    box-shadow: 0 0 9px 2px #db5e5e;
    background:linear-gradient(to bottom, #f03535 5%, #704a4a 100%);
    background-color:#f03535;
    border-radius:10px;
    border:1px solid #4e6096;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Verdana;
    font-size:11px;
    font-weight:bold;
    padding:6px 14px;
    text-decoration:none;
    text-shadow:2px 1px 0 #283966;
}
.myButton:hover {
    background:linear-gradient(to bottom, #704a4a 5%, #f03535 100%);
    background-color:#704a4a;
}
.myButton:active {
    position:relative;
    top:1px;
}

/*--------- media queries ----------*/


@media (min-width: 700px){
    .navbar-brand {
        margin-left: 25px;
    }
}

/*-------------- glowing cards ----------------*/

.card::before , .card::after {
    content: "";
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg , #e80000, #7f2020, #c78989, #4c0f0f, #f03535);
    background-size: 400%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;
    animation: animate 20s linear infinite;
}
@keyframes animate {
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}
.card::after {
    filter: blur(20px);
}





















